{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
  <title>{{ project_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}?{{ CACHE_BREAKER }}" rel="stylesheet"/>
    <link href="{% static "css/stylesheet.css" %}?{{ CACHE_BREAKER }}" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid">
      {% block outer_content %}
        {% block content %}
        {% endblock%}
      {% endblock %}
    </div>
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}?{{ CACHE_BREAKER }}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}?{{ CACHE_BREAKER }}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}?{{ CACHE_BREAKER }}" type="text/javascript"></script>
    {% block bottom_javascript %}{% endblock %}
  </body>
</html>
